## Scala Literals

Any constant value which can be assigned to the variable is called as literal/constant. 

The literals are a series of symbols utilized for describing a constant value in the code. 

There are many types of literals in Scala :
* Character literals
* String literals
* Multi-Line String literals
* Boolean literals
* Integer literals
* Floating point literals

### Integer Literals

The Integer literals are generally of type `Int` or of type `Long` when a suffix `L` or `l` is added at the end of the Integers. 

The type `Int` as well as type `Long` are all Integer numerals.

When an Integer literal has a number which falls out of this range then a `compile time error` arises.

The Integers literals are specified in two ways:
* Decimal literals
* Hexa-decimal literals

#### Decimal literals

Here, the allowed digits are from `0` to `9`.

Example :
```scala
val x = 37
```

#### Hexa-decimal literals

Here, the allowed digits are from `0` to `9` and characters used are from `a` to `f`. 

We can use uppercase as well as lowercase characters.

The Octal form of the literal is obsolete

Example :
```scala
// The hexa-decimal number should be prefix with 0X or 0x.
val x = 0xFFF
```

In [1]:
// decimal-form literal
val a = 46

// Hexa-decimal form literal
val b = 0xfF

println(a)
println(b)

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.29.42:4041
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1669965842861)
SparkSession available as 'spark'

46
255

a: Int = 46
b: Int = 255

### Floating Point Literals

This type of literals are of type `Double` as well as type `Float` when a suffix `F` or `f` is added at the end and we can even specify `Double` type by suffixed with `d` or `D`.

Here, we canâ€™t specify literals in Octal or Hexadecimal form.

Example :
```scala
val x = 3.14159
```

In [2]:
// decimal-form literal
val a = 3.156

// It is also a decimal form of the literal
val b = 0123.34

println(a)
println(b)

3.156
123.34

a: Double = 3.156
b: Double = 123.34

### Character Literals

Character literals are either `uni-code` character which are `printable` or are represented by `escape sequences`.

The character literals are enclosed in a single quote.

Examples :
```scala
//character literal in a single quote.
val x = 'b' 

//uni-code representation of character literal, this uni-code represents Q.
val x = '\u0051'

//Escape sequence in character literals
val x = '\n'
```

In [3]:
// Creating a character literal in single quote
val x = 'b'

// uni-code representation of character literal
val y = '\u0051'

// Escape sequence in character literals
val z = '\n'

println(x)
println(y)
println(z)

b
Q

x: Char = b
y: Char = Q
z: Char =

### String literals

The String literals are series of characters, which are available in double quotes. 

The String literals can be handled smoothly by utilizing String Interpolation.

A single line string literals are enclosed in a quotation marks.

Example :
```scala
val x = "Suryakant"
```

In [4]:
// Creating a string literal
val x = "Suryakant"

println(x)

Suryakant

x: String = Suryakant

### Multi-Line String Literals

The multi-line string literals are also series of characters but it has multiple lines.

The multi-line string literals are enclosed in triple quotes.

Example :
```scala
val x = """Suryakant"""
```

In [5]:
// Creating a multiple line string literal
val x ="""GeeksforGeeks
is a
computer science 
portal"""

println(x)

GeeksforGeeks
is a
computer science
portal

x: String =
GeeksforGeeks
is a
computer science
portal

### Boolean Literals

Boolean literals allow only two values i.e. `true` and `false`, which are members of type `Boolean`.

Example :
```scala
val x = true
```

In [6]:
// Assigning true
val a = true

// Assigning false
val b = false

println(a)
println(b)

true
false

a: Boolean = true
b: Boolean = false