## Spark Functions

* While DataFrame APIs work on the DataFrame, At times we might want to apply Functions on column values.

* Functions to process column values are available under `org.apache.spark.sql.functions`. These are typically used in `select` or `withColumn` on top of DataFrame.

* Some of the important Functions can be broadly categorized into `String` Manipulation, `Date` Manipulation, `Numeric` Functions and `Aggregate` Functions.

* String Manipulation Functions :

    * Concatenating Strings - `concat`
    
    * Getting Length - `length`

    * Trimming Strings - `trim`,` rtrim`, `ltrim`

    * Padding Strings - `lpad`, `rpad`

    * Extracting Strings - `split`, `substring`
    
* Date Manipulation Functions :

    * Date Arithmetic - `date_add`, `date_sub`, `datediff`, `add_months`

    * Date Extraction - `dayofmonth`, `month`, `year`, `date_format`

    * Get beginning period - `trunc`, `date_trunc`

* Numeric Functions - `abs`, `greatest`

* Aggregate Functions - `sum`, `min`, `max`

* There are some special functions such as `col`, `lit` etc.

    * `col` is used to convert string to column type. It can also be invoked using **$** after importing `spark.implicits._`

    * `lit` is used to convert a literal to column value so that it can be used to generate derived fields by manipulating using literals.

In [1]:
val employees = List((1, "Scott", "Tiger", 1000.0, "united states"),
                     (2, "Henry", "Ford", 1250.0, "India"),
                     (3, "Nick", "Junior", 750.0, "united KINGDOM"),
                     (4, "Bill", "Gomes", 1500.0, "AUSTRALIA"))

val employeesDF = employees.toDF("employee_id", 
                                 "first_name", 
                                 "last_name", 
                                 "salary", 
                                 "nationality"
                                )

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.1.138:4043
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1670445833492)
SparkSession available as 'spark'

employees: List[(Int, String, String, Double, String)] = List((1,Scott,Tiger,1000.0,united states), (2,Henry,Ford,1250.0,India), (3,Nick,Junior,750.0,united KINGDOM), (4,Bill,Gomes,1500.0,AUSTRALIA))
employeesDF: org.apache.spark.sql.DataFrame = [employee_id: int, first_name: string ... 3 more fields]

#### **concat**

* `concat` function is used to concatenate two string columns and give new column as output.

* `alias` method is used to give an alias name to the column.

In [2]:
// Project full name by concatenating first name and last name along with other fields excluding first name and last name

import org.apache.spark.sql.functions.{col, lit, concat}

employeesDF.select(col("employee_id"),
                   concat(col("first_name"), lit(" "), col("last_name")).alias("full_name"),
                   col("salary"),
                   col("nationality"))
           .show(truncate=false)

+-----------+-----------+------+--------------+
|employee_id|full_name  |salary|nationality   |
+-----------+-----------+------+--------------+
|1          |Scott Tiger|1000.0|united states |
|2          |Henry Ford |1250.0|India         |
|3          |Nick Junior|750.0 |united KINGDOM|
|4          |Bill Gomes |1500.0|AUSTRALIA     |
+-----------+-----------+------+--------------+

import org.apache.spark.sql.functions.{col, lit, concat}

#### **withColumn**

* `withColumn` function is used to Create a new column after computation over other column/columns. It adds a new column at the end of the DataFrame.

In [3]:
// Alternate Way using withColumn function

employeesDF.withColumn("full_name", concat(col("first_name"), lit(" "), col("last_name")))
           .drop("first_name", "last_name")
           .show(truncate=false)

+-----------+------+--------------+-----------+
|employee_id|salary|nationality   |full_name  |
+-----------+------+--------------+-----------+
|1          |1000.0|united states |Scott Tiger|
|2          |1250.0|India         |Henry Ford |
|3          |750.0 |united KINGDOM|Nick Junior|
|4          |1500.0|AUSTRALIA     |Bill Gomes |
+-----------+------+--------------+-----------+

#### **$**

* `$` is an alternate for `col` function, which is used to make a string as a column.

In [4]:
// Alternate Way using $ function

import spark.implicits._

employeesDF.withColumn("full_name", concat($"first_name", lit(" "), $"last_name"))
           .drop("first_name", "last_name")
           .show(truncate=false)

+-----------+------+--------------+-----------+
|employee_id|salary|nationality   |full_name  |
+-----------+------+--------------+-----------+
|1          |1000.0|united states |Scott Tiger|
|2          |1250.0|India         |Henry Ford |
|3          |750.0 |united KINGDOM|Nick Junior|
|4          |1500.0|AUSTRALIA     |Bill Gomes |
+-----------+------+--------------+-----------+

import spark.implicits._

In [5]:
// Alternate Way using SQL style selectExpr function

employeesDF.selectExpr("employee_id",
                       "concat(first_name, ' ', last_name) AS full_name",
                       "salary", 
                       "nationality")
           .show(truncate=false)

+-----------+-----------+------+--------------+
|employee_id|full_name  |salary|nationality   |
+-----------+-----------+------+--------------+
|1          |Scott Tiger|1000.0|united states |
|2          |Henry Ford |1250.0|India         |
|3          |Nick Junior|750.0 |united KINGDOM|
|4          |Bill Gomes |1500.0|AUSTRALIA     |
+-----------+-----------+------+--------------+

#### **Show all Functions in Spark**

In [6]:
spark.sql("SHOW functions").show(400, truncate=false)

+---------------------------+
|function                   |
+---------------------------+
|!                          |
|!=                         |
|%                          |
|&                          |
|*                          |
|+                          |
|-                          |
|/                          |
|<                          |
|<=                         |
|<=>                        |
|<>                         |
|=                          |
|==                         |
|>                          |
|>=                         |
|^                          |
|abs                        |
|acos                       |
|acosh                      |
|add_months                 |
|aes_decrypt                |
|aes_encrypt                |
|aggregate                  |
|and                        |
|any                        |
|approx_count_distinct      |
|approx_percentile          |
|array                      |
|array_agg                  |
|array_contains             |
|array_distinct             |
|array_except               |
|array_intersect            |
|array_join                 |
|array_max                  |
|array_min                  |
|array_position             |
|array_remove               |
|array_repeat               |
|array_size                 |
|array_sort                 |
|array_union                |
|arrays_overlap             |
|arrays_zip                 |
|ascii                      |
|asin                       |
|asinh                      |
|assert_true                |
|atan                       |
|atan2                      |
|atanh                      |
|avg                        |
|base64                     |
|between                    |
|bigint                     |
|bin                        |
|binary                     |
|bit_and                    |
|bit_count                  |
|bit_get                    |
|bit_length                 |
|bit_or                     |
|bit_xor                    |
|bool_and                   |
|bool_or                    |
|boolean                    |
|bround                     |
|btrim                      |
|cardinality                |
|case                       |
|cast                       |
|cbrt                       |
|ceil                       |
|ceiling                    |
|char                       |
|char_length                |
|character_length           |
|chr                        |
|coalesce                   |
|collect_list               |
|collect_set                |
|concat                     |
|concat_ws                  |
|contains                   |
|conv                       |
|corr                       |
|cos                        |
|cosh                       |
|cot                        |
|count                      |
|count_if                   |
|count_min_sketch           |
|covar_pop                  |
|covar_samp                 |
|crc32                      |
|csc                        |
|cume_dist                  |
|current_catalog            |
|current_database           |
|current_date               |
|current_timestamp          |
|current_timezone           |
|current_user               |
|date                       |
|date_add                   |
|date_format                |
|date_from_unix_date        |
|date_part                  |
|date_sub                   |
|date_trunc                 |
|datediff                   |
|day                        |
|dayofmonth                 |
|dayofweek                  |
|dayofyear                  |
|decimal                    |
|decode                     |
|degrees                    |
|dense_rank                 |
|div                        |
|double                     |
|e                          |
|element_at                 |
|elt                        |
|encode                     |
|endswith                   |
|every                      |
|exists                     |
|exp                        |
|explode                    |
|explode_outer              |
|expm1                      |
|extract                    |
|factorial                  |
|filter                     |
|find_in_set                |
|first                      |
|first_value                |
|flatten                    |
|float                      |
|floor                      |
|forall                     |
|format_number              |
|format_string              |
|from_csv                   |
|from_json                  |
|from_unixtime              |
|from_utc_timestamp         |
|get_json_object            |
|getbit                     |
|greatest                   |
|grouping                   |
|grouping_id                |
|hash                       |
|hex                        |
|histogram_numeric          |
|hour                       |
|hypot                      |
|if                         |
|ifnull                     |
|ilike                      |
|in                         |
|initcap                    |
|inline                     |
|inline_outer               |
|input_file_block_length    |
|input_file_block_start     |
|input_file_name            |
|instr                      |
|int                        |
|isnan                      |
|isnotnull                  |
|isnull                     |
|java_method                |
|json_array_length          |
|json_object_keys           |
|json_tuple                 |
|kurtosis                   |
|lag                        |
|last                       |
|last_day                   |
|last_value                 |
|lcase                      |
|lead                       |
|least                      |
|left                       |
|length                     |
|levenshtein                |
|like                       |
|ln                         |
|locate                     |
|log                        |
|log10                      |
|log1p                      |
|log2                       |
|lower                      |
|lpad                       |
|ltrim                      |
|make_date                  |
|make_dt_interval           |
|make_interval              |
|make_timestamp             |
|make_ym_interval           |
|map                        |
|map_concat                 |
|map_contains_key           |
|map_entries                |
|map_filter                 |
|map_from_arrays            |
|map_from_entries           |
|map_keys                   |
|map_values                 |
|map_zip_with               |
|max                        |
|max_by                     |
|md5                        |
|mean                       |
|min                        |
|min_by                     |
|minute                     |
|mod                        |
|monotonically_increasing_id|
|month                      |
|months_between             |
|named_struct               |
|nanvl                      |
|negative                   |
|next_day                   |
|not                        |
|now                        |
|nth_value                  |
|ntile                      |
|nullif                     |
|nvl                        |
|nvl2                       |
|octet_length               |
|or                         |
|overlay                    |
|parse_url                  |
|percent_rank               |
|percentile                 |
|percentile_approx          |
|pi                         |
|pmod                       |
|posexplode                 |
|posexplode_outer           |
|position                   |
|positive                   |
|pow                        |
|power                      |
|printf                     |
|quarter                    |
|radians                    |
|raise_error                |
|rand                       |
|randn                      |
|random                     |
|range                      |
|rank                       |
|reflect                    |
|regexp                     |
|regexp_extract             |
|regexp_extract_all         |
|regexp_like                |
|regexp_replace             |
|regr_avgx                  |
|regr_avgy                  |
|regr_count                 |
|regr_r2                    |
|repeat                     |
|replace                    |
|reverse                    |
|right                      |
|rint                       |
|rlike                      |
|round                      |
|row_number                 |
|rpad                       |
|rtrim                      |
|schema_of_csv              |
|schema_of_json             |
|sec                        |
|second                     |
|sentences                  |
|sequence                   |
|session_window             |
|sha                        |
|sha1                       |
|sha2                       |
|shiftleft                  |
|shiftright                 |
|shiftrightunsigned         |
|shuffle                    |
|sign                       |
|signum                     |
|sin                        |
|sinh                       |
|size                       |
|skewness                   |
|slice                      |
|smallint                   |
|some                       |
|sort_array                 |
|soundex                    |
|space                      |
|spark_partition_id         |
|split                      |
|split_part                 |
|sqrt                       |
|stack                      |
|startswith                 |
|std                        |
|stddev                     |
|stddev_pop                 |
|stddev_samp                |
|str_to_map                 |
|string                     |
|struct                     |
|substr                     |
|substring                  |
|substring_index            |
|sum                        |
|tan                        |
|tanh                       |
|timestamp                  |
|timestamp_micros           |
|timestamp_millis           |
|timestamp_seconds          |
|tinyint                    |
|to_binary                  |
|to_csv                     |
|to_date                    |
|to_json                    |
|to_number                  |
|to_timestamp               |
|to_unix_timestamp          |
|to_utc_timestamp           |
|transform                  |
|transform_keys             |
|transform_values           |
|translate                  |
|trim                       |
|trunc                      |
|try_add                    |
|try_avg                    |
|try_divide                 |
|try_element_at             |
|try_multiply               |
|try_subtract               |
|try_sum                    |
|try_to_binary              |
|try_to_number              |
|typeof                     |
|ucase                      |
|unbase64                   |
|unhex                      |
|unix_date                  |
|unix_micros                |
|unix_millis                |
|unix_seconds               |
|unix_timestamp             |
|upper                      |
|uuid                       |
|var_pop                    |
|var_samp                   |
|variance                   |
|version                    |
|weekday                    |
|weekofyear                 |
|when                       |
|width_bucket               |
|window                     |
|xpath                      |
|xpath_boolean              |
|xpath_double               |
|xpath_float                |
|xpath_int                  |
|xpath_long                 |
|xpath_number               |
|xpath_short                |
|xpath_string               |
|xxhash64                   |
|year                       |
|zip_with                   |
||                          |
|||                         |
|~                          |
+---------------------------+

#### **Describe a Spark Function**

In [7]:
spark.sql("DESCRIBE FUNCTION concat").show(truncate=false)

+------------------------------------------------------------------------------------------+
|function_desc                                                                             |
+------------------------------------------------------------------------------------------+
|Function: concat                                                                          |
|Class: org.apache.spark.sql.catalyst.expressions.Concat                                   |
|Usage: concat(col1, col2, ..., colN) - Returns the concatenation of col1, col2, ..., colN.|
+------------------------------------------------------------------------------------------+