[![icons8-linkedin.gif](attachment:c9494563-7284-4c71-9fe4-40d31b4558ff.gif 'Author : Suryakant Kumar')](https://www.linkedin.com/in/suryakantkumar/)[![icons8-github.gif](attachment:ecd1af6f-8660-4379-b68f-bad3ed6d67c8.gif 'Author : Suryakant Kumar')](https://github.com/SuryakantKumar)

## Arrays in Scala

Array is a fixed size data structure that stores elements of the same data type. 

The index of the first element of an array is `zero` and the last element is the total number of elements minus one. 

It is a collection of mutable values. 

It corresponds to arrays(in terms of syntax) in java but at the same time it’s different(in terms of functionalities) from java.

Some Important Points:

* Scala arrays can be generic. which mean we can have an Array[T], where T is a type parameter or abstract type.

* Scala arrays are compatible with Scala sequences – we can pass an Array[T] where a Seq[T] is required.

* Scala arrays also support all sequence operations.

Scala supports both one as well as multi-dimension arrays. A single dimension array is one having only one row and n columns whereas two dimension array is actually a matrix of dimension (n * m).

### One Dimensional Array

In this, Array contains only one row for storing the values. 

All values of this array are stored contiguously starting from 0 to the array size.

Syntax:
```scala
var arrayname = new Array[datatype](size)
```
Here, `datatype` specifies the type of data being allocated, `size` specifies the number of elements in the array, and `var` is the name of array variable that is linked to the array.

In [1]:
var days = Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" )

println("Array elements are : ")

for (m1 <- days)
{
    println(m1)
}

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.29.42:4043
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1670097134018)
SparkSession available as 'spark'

Array elements are :
Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

days: Array[String] = Array(Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday)

### Operation / Accessing array elements

In [2]:
var name = Array("abc", "def", "ghi", "jkl")

println("second element of an array is : " + name(1))

second element of an array is : def

name: Array[String] = Array(abc, def, ghi, jkl)

### Operation / Updating an element in array

In [3]:
var name = Array("abc", "def", "ghi", "jkl")

name(1) = "employee"

println("After updation, Array elements are : ")

for (m1 <- name)
{
    println(m1)
}

After updation, Array elements are :
abc
employee
ghi
jkl

name: Array[String] = Array(abc, employee, ghi, jkl)

### Operation / Adding elements in an array

In [4]:
var name = new Array[String](4)

name(0) = "abc"
name(1) = "def"
name(2) = "ghi"
name(3) = "jkl"

println("After adding, Array elements : ")

for (m1 <- name)
{
    println(m1)
}

After adding, Array elements :
abc
def
ghi
jkl

name: Array[String] = Array(abc, def, ghi, jkl)

### Operation / Concatenate Arrays

We can concatenate two arrays by using `concat()` method.

In concat() method, we can pass more than one array as arguments.

In [5]:
import Array._

var arr1 = Array(1, 2, 3, 4)
var arr2 = Array(5, 6, 7, 8)

var arr3 = concat( arr1, arr2, arr1)

for (x <- arr3) 
{
    println(x)
}

1
2
3
4
5
6
7
8
1
2
3
4

import Array._
arr1: Array[Int] = Array(1, 2, 3, 4)
arr2: Array[Int] = Array(5, 6, 7, 8)
arr3: Array[Int] = Array(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4)

### Multidimensional Arrays

The Multidimensional arrays contains more than one row to store the values. 

Scala has a method `Array.ofDim` to create Multi-dimensional arrays in Scala . 

In structures like `matrices` and `tables`, Multi-dimensional arrays can be used.

Syntax:
```scala
var array_name = Array.ofDim[ArrayType](N, M)

or

var array_name = Array(Array(elements), Array(elements))
```

This is a Two-Dimension array. Here N is number of rows and M is number of Columns.

In [6]:
val rows = 2
val cols = 3

val names = Array.ofDim[String](rows, cols)

names(0)(0) = "a"
names(0)(1) = "b"
names(0)(2) = "c"
names(1)(0) = "d"
names(1)(1) = "e"
names(1)(2) = "f"

for (i <- 0 until rows)
{
    for (j <- 0 until cols)
    {
        println(s"($i)($j) = ${names(i)(j)}")
    }
}

(0)(0) = a
(0)(1) = b
(0)(2) = c
(1)(0) = d
(1)(1) = e
(1)(2) = f

rows: Int = 2
cols: Int = 3
names: Array[Array[String]] = Array(Array(a, b, c), Array(d, e, f))

### Operation / Append elements to an Array

Use these operators (methods) to append elements to an array while assigning the result to a new variable :

```
Method    Function        Example
:+        append 1 item   old_array :+ e
++        append N item   old_array ++ new_array
```

In [7]:
// Declaring an array
val a = Array(45, 52, 61) 
println("Array a : ")
for (x <- a) 
{
    println(x)
}

Array a :
45
52
61

a: Array[Int] = Array(45, 52, 61)

In [8]:
// Appending 1 item
val b = a :+ 27 
println("Array b : ")
for (x <- b) 
{
    println(x)
}

Array b :
45
52
61
27

b: Array[Int] = Array(45, 52, 61, 27)

In [9]:
// Appending 2 item
val c = b ++ Array(1, 2)
println("Array c : ")
for (x <- c) 
{
    println(x)
}

Array c :
45
52
61
27
1
2

c: Array[Int] = Array(45, 52, 61, 27, 1, 2)

### Operation / Prepend elements to an Array

Use these operators (methods) to prepend elements to an array while assigning the result to a new variable :

```
Method    Function          Example
+:        prepend 1 item    e +: old_array
++:       prepend N items   new_array ++: old_array
```

In [10]:
// Prepending 1 item
val d = 3 +: c 
println("Array d : ")
for (x <- d) 
{
    println(x)
}

Array d :
3
45
52
61
27
1
2

d: Array[Int] = Array(3, 45, 52, 61, 27, 1, 2)

In [11]:
// Prepending 2 item
println("Array e : ")
val e = Array(10, 25) ++: d
for (x <- e) 
{
    println( x )
}

Array e :
10
25
3
45
52
61
27
1
2

e: Array[Int] = Array(10, 25, 3, 45, 52, 61, 27, 1, 2)

### GeneratRange

In [12]:
var range = (1 to 10)

for(x <- range)
{
    println(x)
}

1
2
3
4
5
6
7
8
9
10

range: scala.collection.immutable.Range.Inclusive = Range 1 to 10